.list {
    list-style-type: none;
}

.link {
    text-decoration: none;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
}

button {
    cursor: pointer;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    display: inline-block;
}

.logo:active,
.accent:active {
    color: #404BBF;
}

.accent {
    color: #2E2F42;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.for-container {
    display: flex;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu,
.menu-address {
    display: flex;
    gap: 40px;
}

.menu-link {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-address {
    width: 675px;
    display: flex;
    justify-content: flex-end;
}


.for-page-name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
}

.first-pag-name {
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address-link {
    display: block;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus,
.menu-address-link:hover,
.menu-address-link:active,
.menu-address-link:focus {
    color: #404BBF;
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

.top-address {
    font-style: normal;
}

.order-service-baner {
    padding: 188px 0 188px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2E2F42;
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/background/people-office-bk.jpg');
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    background-repeat: no-repeat;
}

.ord-ser-ban-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
}

.order-button {
    display: block;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 16px 32px;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-item {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-start;
    gap: 24px;
}

.benefits-item-icon {
    display: flex;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    padding: 24px 100px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    height: 112px;
}

.benefits-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits-item-descr,
.team-item-list {
    width: calc((100% - 72px) / 4);
}

.portfolio-item-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-list:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-item-list:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.for-overlay:hover .overlay {
    transform: translateY(0%);
}

.for-overlay {
    position: relative;
    overflow: hidden;
}

.team-item,
.portfolio-item {
    display: flex;
    row-gap: 48px;
}

.portfolio-item {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    column-gap: 24px;
}

.feuter-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-item-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.portfolio-item-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 40px 32px;
/* overflow: hidden; */
line-height: 1.5;
letter-spacing: 0.02em;
transform: translateY(100%);
color: #F4F4FD;
background-color: #4D5AE5;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    background:#FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.feuter-desc {
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
}

.team-desc {
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
    text-align: center;
}

.social-list-team {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 8px 16px 0px;
}

.social-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 40px;
    height: 40px; */
    /* border-radius: 50%; */
    /* row-gap: 24; */
}

.social-list-item-links:hover,
.social-list-item-links:focus,
.footer-social-links-menu-item:hover,
.footer-social-links-menu-item:focus {
    background-color: #404bbf;
}

.social-list-item-links {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%;
    height: 100%; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #F4F4FD;
}

.portfolio-desc {
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
}

.team {
    background-color: #F4F4FD;
}

.team-title,
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-item {
    gap: 24px;
}

.name-worker {
    padding: 32px 0;
    margin-bottom: 8px;
}

.name-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.bottom {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* .section-bottom {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding-top: 100px;
    padding-bottom: 100px;
} */

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-section {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}

.accent-bottom {
    color: #F4F4FD;
}

.logo-bottom {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.bottom-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}

.footer-social-links {
    /* display: flex; */
    flex-direction: column;
}

.footer-social-links-title {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px
}

.social-list-footer {
    display: flex;
        justify-content: center;
        gap: 16px;
        margin: 8px 16px 0px;
}

.footer-social-links-menu {
    display: flex;
    gap: 16px;
}

.footer-social-links-menu-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item-links {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%;
    height: 100%; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-item-links:hover,
.footer-social-list-item-links:focus {
    background-color: #31d0aa;
    }

/* =====Subscribe blioc=== */
.form {
    display: flex;
    gap: 24px;
}

.subscribe {
    margin-left: 80px;
}

.footer-subscribe {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.form-input {
    padding-left: 16px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    outline: transparent;
    border-radius: 4px;
    font-family: inherit;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #FFFFFF;
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input::placeholder {
    color: #FFFFFF;
}

.form-input::placeholder {
    color: #FFFFFF;
}

.footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.icon-form {
    margin-left: 16px;
    fill: #ffffff;;
}

.footer-button:hover,
.footer-button:focus {
    background: #404BBF;
}
/* =========BACKDROP STYLES=========== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: #e7e9fc;
    line-height: 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    stroke: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
}

.modal-close-btn-icon {
    /* fill: #2E2F42; */
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rew-for-desc {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.review-form-field-wrapper {
    margin-bottom: 8px
}

.review-form-field-wrapper-comment {
    margin-bottom: 16px;
}

.review-form-field-label{
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.review-form-input:focus {
    border-color:#4D5AE5;
}

.review-form-input-icon {
   position: absolute;
   top: 50%;
   left: 16px;
   transform: translateY(-50%);
   fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-input-icon {
    fill: #4D5AE5;
}

.review-form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.review-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.review-form-comment:focus {
    border-color: #4D5AE5;
}

.review-form-chekbox-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.reviwe-form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.review-form-chekbox:checked + .review-form-checkbox-label > .reviwe-form-own-checkbox {
    background-color: #404BBF;
    border-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.review-form-chekbox:focus+.review-form-checkbox-label>.reviwe-form-own-checkbox{
    outline: 2px solid solid rgba(46, 47, 66, 0.4);
}

.review-form-own-checkbox-icon {
    fill: #F4F4FD;
    opacity: 0;
}

.review-form-chekbox:checked + .review-form-checkbox-label .review-form-own-checkbox-icon {
    opacity: 1;
}
.accent-color {
    color: #4D5AE5;
}

.review-form-submit-btn {
    background: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px; 
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
    background: #404BBF;
}
/* =========/BACKDROP STYLES=========== */ 