/* ======BASIC STYLES====== */
.list {
    list-style-type: none;
}

.link {
    text-decoration: none;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
}

button {
    cursor: pointer;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    display: inline-block;
}

.logo:active,
.accent:active {
    color: #404BBF;
}

.accent {
    color: #2E2F42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* ======/BASIC STYLES END====== */

/* ======MOBILE HEADER STYLES====== */
.page-header {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}

@media screen and (max-width:767px) {

    .menu {
    display: none;
    }
    
    .top-address {
        display: none;
    }
    
    .for-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .mobile-menu-open-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        stroke: #2F2F37;
    }
    
    .mobile-menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999999;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mobile-menu-wrapper.is-open {
        transform: translateX(0%);
    }
    
    .mobile-menu-container {
        position: relative;
    }
    
    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        background-color: transparent;
        width: 24px;
        height: 24px;
        stroke-width: 1px;
        stroke: #2E2F42;
        border-color: #E7E9FC;
        border-radius: 50%;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        line-height: 0;
    }
    
    .mobile-menu-navigation {
        padding-top: 72px;
    }

    .mobile-menu-link {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        padding-bottom: 40px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .side-bar-address {
        padding-top: 124px;
        margin-bottom: 24px;
        font-style: normal;
    }

    .menu-side-bar-address-link {
        color: #434455;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.20;
        letter-spacing: 0.02em;
        padding-bottom: 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .first-pag-name {
        color: #404BBF;
        }
    
    .mobile-menu-social-list {
        display: flex;
        gap: 40px;
        justify-content: center;
        margin-bottom: 40px;
    }

    .mobile-menu-social-list-item {
        width: 40px;
        height: 40px;     
    }

    .social-icon {
        fill: #f4f4fd;
    }

    .mobile-menu-social-list-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4D5AE5;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        margin-bottom: 32px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-link:hover,
    .mobile-menu-link:focus,
    .menu-side-bar-address-link:hover,
    .menu-side-bar-address-link:active,
    .menu-side-bar-address-link:focus {
        color: #404BBF;
    }

}

/* ======/MOBILE HEADER STYLES END====== */

/* ======MOBILE BANER 1 STYLES====== */

.order-service-baner {
    background-color: #2E2F42;
    padding-bottom: 72px;
    padding-top: 72px;
    background-image:
        linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url('../images/background/mobile-baner/people-office-bk-squooshed-mobile1x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

@media(min-device-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx) {
    .order-service-baner {
        background-image:
            linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/background/mobile-baner/people-office-bk-squooshed-mobile@2x.jpg');
    }
}

.ord-ser-ban-title {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    max-width: 169px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.order-button {
    background: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ======MOBILE BANER 1 STYLES END====== */

/* ======MOBILE FEATURES STYLES====== */
.benefits-item-icon {
    display: none;
}

.feuter-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.feuter-desc {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.benefits-item {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.benefits-item-descr {
    width: 288px;
}

.benefits {
    padding-top: 96px;
    padding-bottom: 96px;
}
/* ======MOBILE FEATURES STYLES END====== */

/* ======MOBILE TEAM STYLES====== */
.team {
    background: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-container {
    width: 296px;
}

.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px
}

.team-item {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin: 0 auto;
}

.team-item-list {
    background: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    align-items: center;
    justify-content: center;
    width: 264px;
}      

.team-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.team-desc {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.name-worker {
    padding: 32px 0;
}

.social-list-team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-item-links {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd;
}

.team-img {
    
}

/* ======MOBILE TEAM STYLES END====== */

/* ======MOBILE Portfolio STYLES====== */
.portfolio {
    padding: 96px 0 96px 0;
}

.overlay {
    display: none;
}

.portfolio-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    box-shadow: #2E2F42 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-list {
    width: 288px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-title { 
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

 .portfolio-desc {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }

 .name-app {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
 }


/* ======MOBILE Portfolio STYLES END====== */

/* ======MOBILE FOOTER STYLES====== */
.bottom {
    background: #2E2F42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.footer-logo-section {
    /* display: flex;
    flex-direction: column;
    margin-right: 120px; */
}

.accent-bottom {
    color: #f4f4fd;
}

.logo-bottom {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.bottom-desc {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 288px;
    /* padding-left: 16px;
    padding-right: 16px; */
}

.footer-social-links {

}

.footer-social-links-title {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.social-list-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.footer-social-list-item-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item-links:hover,
.footer-social-list-item-links:focus {
    background-color: #31d0aa;
}

.subscribe {
    display: block;
    column-gap: 24px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-subscribe {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.form {
    display: block;
    column-gap: 24px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-label {
    display: flex;
        color: #8E8F99;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        margin-bottom: 16px;
}

.form-input {
    width: 288px;
    height: 40px;
    border-radius: 4px;
    border-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    outline: 0px solid transparent;
    border: 1px solid #ffffff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
}
.form-input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 2.0;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-button {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px 8px 24px;
    border-radius: 4px;
    background: #4D5AE5;
    border: none;
    color: #FFF;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.icon-form {
    fill: #FFFFFF;
    margin-left: 16px;
}
/* ======MOBILE FOOTER STYLES END====== */

/* ======MOBILE MODAL WINDOW STYLES====== */
.backdrop {
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.40);
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background-color: #FCFCFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        flex-shrink: 0;
        fill: #2E2F42;
        stroke-width: 1px;
        border-radius: 50%;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        line-height: 0;
        position: absolute;
        top: 24px;
        right: 24px;
        background-color: #E7E9FC;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.rew-for-desc {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    width: 256px;
    margin-bottom: 16px;
}

.review-form {
    
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-field-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.review-form-input:focus {
    border-color: #4D5AE5;
}

.review-form-input:focus+.contacts-input-icon {
    fill: #4D5AE5;
}

.review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-wrapper-comment {
    margin-bottom: 16px;
    display: block;
}

.review-form-comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    outline: 0px solid transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.review-form-comment:focus {
    border-color: #4D5AE5;
}

.review-form-chekbox-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox-label {
    display: flex;
    align-items: center;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.accent-color {
    color: #4D5AE5;
}

.reviwe-form-own-checkbox {
        display: inline-flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            width: 16px;
            height: 16px;
            border-radius: 2px;
            border: 1px solid rgba(46, 47, 66, 0.40);
            cursor: pointer;
            margin-right: 8px;
            fill: transparent;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-chekbox:checked+.review-form-checkbox-label>.reviwe-form-own-checkbox {
    background-color: #404BBF;
    border-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.review-form-own-checkbox-icon {
    fill: #F4F4FD;
    opacity: 0;
}

.review-form-chekbox:checked+.review-form-checkbox-label .review-form-own-checkbox-icon {
    opacity: 1;
    fill: #F4F4FD;
}

.review-form-chekbox:focus+.review-form-checkbox-label>.reviwe-form-own-checkbox {
    outline: 1px solid #4D5AE5;
}

.review-form-submit-btn {
min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: #FFF;
    margin: 0 auto;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ======MOBILE MODAL WINDOW STYLES END====== */


@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
    /* ======TABLET HEADER STYLES====== */
        .mobile-menu-open-btn {
            display: none;
        }

        .mobile-menu-wrapper {
            display: none;
        }
        
        .page-header {
            padding-top: 10px;
            padding-bottom: 0;
            border-bottom: 1px solid #e7e9fc;
            box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
        }

        .for-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .page-nav {
            display: flex;
            align-items: center;
        }

        .logo {
            margin-right: 120px;
        }

        .menu {
            display: flex;
            gap: 40px;
        }

        .menu-address {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .menu-link {
            color: #2E2F42;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding-top: 20px;
            padding-bottom: 20px;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .menu-link:hover,
        .menu-link:focus {
            color: #404bbf;
        }

        .for-page-name {

        } 
        
        .first-pag-name {
            position: relative;
            color: #404BBF;
        }

        .menu-link.first-pag-name::after {
            display: block;
            width: 100%;
            height: 4px;
            background-color: #404BBF;
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            border-radius: 2px;
        }

        .menu-link:hover,
        .menu-link:focus {
            color: #404bbf;
        }
        
        .top-address {
            display: flex;
            justify-content: flex-end;
            font-style: normal;
        }

        .menu-address-link {
            color: #434455;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.16;
            letter-spacing: 0.04em;
            display: block;
            margin-bottom: 12px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
                .feuter-title {
                    text-align: left;
                }
        
                .benefits-item-descr {
                    width: calc((100% - 24px) / 2);
                    margin-bottom: 72px;
                }
        
                .benefits-item {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 24px;
                    justify-content: space-between;
                }

    /* ======/TABLET HEADER STYLES END====== */
.ord-ser-ban-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
}


/*========TABLET Baner STYLES======*/
.order-service-baner section {
    padding-bottom: 112px;
    padding-top: 112px;
    background-image: linear-gradient(to bottom,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url("../images/background/tablet-baner/people-office-bk-squooshed-tablet1x.jpg");
    }

@media(min-device-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx) {
    .hero {
        background-image:
            linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/background/tablet-baner/people-office-bk-squooshed-tablet@2x.jpg");
    }
}



/*========TABLET Baner STYLES END======*/

/*========TABLET FEATURES STYLES======*/

/*========TABLET FEATURES STYLES END======*/

/*========TABLET TEAM STYLES======*/
.team-container {
    width: 583px;
}

.team-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center; 
}

.team-item-list {
    width: calc((100% - 24px) / 2);
    margin-bottom: 64px;
}
.portfolio-item-list{
    width: calc((100% - 24px) / 2);
}

/*========TABLET TEAM STYLES END======*/

/*========TABLET Portfolio STYLES======*/
/* @media screen and (min-width: 768px) {
    .portfolio-item {
    display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }
} */
/*========TABLET Portfolio STYLES END======*/

/*========TABLET Footer STYLES======*/
.footer-logo-section {
    margin-right: 24px;
}

.logo-bottom {
    display: inline-block;
}

.footer-container {
    max-width: 584px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-social-links-title {
    text-align: left;
}

.footer-subscribe {
        margin-right: auto;
    }

.form {
    display: flex;
    gap: 24px;
}

.subscribe {
    display: flex;
    column-gap: 24px;
    flex-direction: column;
}

.footer-subscribe {
    margin-right: auto;
}

.form-input {
    width: 264px;
}

}
/*========TABLET Footer STYLES END======*/


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    /* ======DESKTOP HEADER STYLES====== */
    /* ======/DESKTOP HEADER STYLES END====== */

}

